* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: roboto, sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    background-color: rgb(247, 247, 247);
}

.user-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-name {
    color: black;
    font-weight: 600;
    font-size: 18px;
}

a {
    text-decoration: none;
}

#header {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 1fr 2fr;
    padding:10px 80px 5px 15px;
    background-color: white;
    box-shadow: 0 10px 9px rgba(235, 235, 235, 0.9);
}

    #top-left {
        display: grid;
        grid-template-columns: 1fr 14fr;
        align-items: center;
    }

        #top-left #search-icon {
            justify-self: end;
            margin-right: 10px;
            width: 30px;
            height: 30px;
        }

        #top-left #search-bar {
            border-style: none;
            background-color: rgb(239, 239, 239);
            padding: 10px;
            height: 30px;
            width: 700px;
            border-radius: 500px;
        }

    #top-right {
        display: grid;
        grid-template-columns: 2fr 50px auto; /*auto so it changes depending on the length of the username*/
        align-items: center;
    }

        #top-right #notification-icon {
            justify-self: end;
            margin-right: 30px;
            width: 30px;
            height: 30px;
        }

        #top-right .user-picture {

        }

        #top-right .user-name{
            justify-self: end;
        }

    #bottom-left {
        display: grid;
        grid-template-columns: 1fr 4fr;
        margin-left: -60px;
    }

        #bottom-left .user-picture {
            grid-row: 1/3;
            justify-self: end;
            margin-right: 20px;
            width: 70px;
            height: 70px;
            align-self: center;
        }

        #bottom-left #welcome-message {
            align-self: end;
            padding-bottom: 5px;
            font-size: 18px;
        }

        #bottom-left .user-name {
            font-size: 24px;
        }

    #bottom-right {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: end;
    }

        #bottom-right button{
            width: 100px;
            height: 40px;
            border-style: none;
            border-radius: 500px;
            font-size: 14px;
            font-weight: 800;
            background-color:#2dd4bf;
            color: white;
        }

        #bottom-right button:hover{
            border: solid 2px #2dd4bf;
            background-color: white;
            color: #2dd4bf;
        }   

#sidebar {
    grid-row: 1/3;

    display: grid;
    grid-template-rows: 1fr 4fr 6fr;

    font-size: 18px;
    font-weight: bolder;
    background-color: #2dd4bf;
    color: #ffffff;
    /* height: 100vh; */
}

    #sidebar div a, #sidebar #dashboard-heading { /*lays out the icon next to each heading*/
        display: grid;
        grid-template-columns: 1fr 6fr;
        align-items: center;
        column-gap: 10px;
        margin: 20px;
    }

    #sidebar #dashboard-heading  {
        font-size: 26px;
    }

    #dashboard-icon {
        width: 1.5em;
        height: 1.5em;
    }

    .sidebar-icons {
        -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */ /* the SVGs are all black so this makes them white */
        filter: invert(100%);
        width: 25px;
        height: 25px;
        justify-self: end;
    }

    #sidebar a{
        color: white;
    }

    #sidebar a:hover{
        font-size: 20px;
    } 

#main-content {
    display: grid;
    grid-template-columns: 823px 1fr;
    grid-template-rows: auto auto;
    padding: 25px 30px 5px 30px;
    column-gap: 20px;
}

    #main-content a {
        color: black;
        text-decoration: none;
    }

    #main-content .headers {
        font-size: 18px;
        font-weight: 600;
    }

    #main-content #your-projects {
        grid-row: 1/3;

        display: grid;
        grid-template-rows: auto 10fr;
    }

        #main-content #your-projects #cards {
            display: grid;
            grid-template-columns: repeat(auto-fit, 400px);
            align-content: start;    
            gap: 20px;
            margin-top: 10px;
            /* overflow-y: scroll; */
        }

            #main-content #your-projects #cards .card {
                height: 200px;
                width: 400px;
                border-radius: 10px;
                border-left: solid 6px #2dd4bf;
                padding: 20px 20px 20px 20px;
                background-color: white;
                box-shadow: 0 10px 9px rgba(235, 235, 235, 0.9);

                display: grid;
                grid-template-columns: 4fr repeat(3, auto);
                grid-template-rows: auto auto 1fr;
                column-gap: 10px;
            }

            #main-content #your-projects #cards .card .card-title  {
                grid-column: 1/5;
                grid-row: 1/2;
                align-self: end;
            }

            #main-content #your-projects #cards .card .card-description {
                grid-column: 1/5;
                grid-row: 2/3;
                justify-self: start;

                margin-top: 5px;
                font-size: 16px;
                font-weight: 400;
                height: auto;
                color: rgb(80, 80, 80);
                display: -webkit-box;       /*Bing AI suggested this and assured me it has good support*/
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

            #main-content #your-projects #cards .card .icons {
                width: 25px;
                height: 25px;
                justify-self: center;
                align-self: end;
            }

            #main-content #your-projects #cards .card .icons:hover {
                width: 30px;
                height: 30px;
                justify-self: center;
                align-self: end;
            }

            #like {
                grid-column: 2/3;
                grid-row: 3/4;
            }

            #bookmark {
                grid-column: 3/4;
                grid-row: 3/4;
            }

            #share {
                grid-column: 4/5;
                grid-row: 3/4;
            }    

    #main-content #announcements #announcements-box{      
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        place-items: center;
        
        height: 307px;
        margin-top: 10px;
        border-radius: 10px;
        padding: 20px 20px 20px 20px;
        background-color: white;
        box-shadow: 0 10px 9px rgba(235, 235, 235, 0.9);
    }

        hr {
            border-top: solid 1px rgb(235, 235, 235);
            width: 350px;
        }

        #main-content #announcements #announcements-box div h5 {
            margin-bottom: 3px;
        }

        #main-content #announcements #announcements-box div p {
            font-size: 14px;
            font-weight: 400;
            height: auto;
            color: rgb(80, 80, 80);
            display: -webkit-box;       /*Bing AI suggested this and assured me it has good support*/
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }   

        #main-content #trending #trending-box {
            display: grid;
            grid-template-rows: repeat(4, 1fr);
            row-gap: 15px;

            margin-top: 10px;
            border-radius: 10px;
            padding: 20px 20px 20px 20px;
            background-color: white;
            box-shadow: 0 10px 9px rgba(235, 235, 235, 0.9);
        }

            #main-content #trending #trending-box .profile-preview {
                display: grid;
                grid-template-columns: auto 4fr;
                grid-template-rows: 1fr 1fr;
                column-gap: 10px;
            }

            #main-content #trending #trending-box .profile-preview .user-picture {
                grid-row: 1/3;
                place-self: center;

                width: 50px;
                height: 50px;
            }   

            #main-content #trending #trending-box .profile-preview .user-name {
                align-self: end;
                
                font-size: 16px;
                font-weight: 500;
            }

            #main-content #trending #trending-box .profile-preview .user-bio {
                align-self: start;
                
                font-size: 14px;
                font-weight: 400;
                color: rgb(80, 80, 80);
                display: -webkit-box;       /*Bing AI suggested this and assured me it has good support*/
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

div { /*delete later*/
    /* border: grey solid 1px; */
}   