* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: roboto, sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

div {
    border: grey solid 2px;
}

#header {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 2fr;
    
}

    #top-left {
        display: grid;
        grid-template-columns: 1fr 7fr;
        align-items: center;
    }

        #top-left #search-icon {
            justify-self: end;
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }

        #top-left #search-bar {
            border-style: none;
            background-color: lightgrey;
            padding: 10px;
            height: 30px;
            width: 500px;
            border-radius: 500px;
        }

    #top-right {
        display: grid;
        grid-template-columns: 2fr 1fr 3fr;
        align-items: center;
    }

        #top-right #notification-icon {
            justify-self: end;
            width: 30px;
            height: 30px;
        }

    #bottom-left {
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-template-rows: 1fr 4fr;
        align-items: center;
    }

        #bottom-left .user-picture {
            grid-row: 1/3;
        }

    #bottom-right {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
    }

#sidebar {
    grid-row: 1/3;

    display: grid;
    grid-template-rows: 1fr 4fr 6fr;

    font-size: 22px;
    font-weight: bolder;
    background-color: #2dd4bf;
    color: #ffffff;
}

    #sidebar div a, #sidebar #dashboard-heading { /*lays out the icon next to each heading*/
        display: grid;
        grid-template-columns: 1fr 6fr;
        align-items: center;
        column-gap: 10px;
        margin: 20px;
    }

    #sidebar #dashboard-heading  {
        font-size: 26px;
    }

    #dashboard-icon {
        width: 1.5em;
        height: 1.5em;
    }

    .sidebar-icons {
        -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */ /* the SVGs are all black so this makes them white */
        filter: invert(100%);
        width: 25px;
        height: 25px;
        justify-self: end;
    }

    a{
        color: white;
        text-decoration: none;
    }

#main-content {
    display: grid;
    grid-template-columns: 800px 1fr;
    
}

    #main-content #your-projects {
        grid-row: 1/3;

        display: grid;
        grid-template-rows: 1fr 10fr;
    }

        #main-content #your-projects #cards {
            display: grid;
            grid-template-columns: repeat(auto-fit, 396px);
        }

            #main-content #your-projects #cards .card {
                height: 200px;
                background-color: azure;

                display: grid;
                grid-template-rows: 3fr 1fr;
            }

                #main-content #your-projects #cards .card #icons{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    place-items: center;
                }

    #main-content #announcements #announcements-box{
        /* align-self: stretch; */
        
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        height: 300px;
    }

        #main-content #announcements #announcements-box div p {
            text-overflow: ellipsis;
        }

    #main-content #trending #trending-box{
        display: grid;
        grid-template-rows: repeat(4, 1fr);
    }

        #main-content #trending #trending-box .profile-preview{
            display: grid;
            grid-template-columns: 1fr 4fr;
            grid-template-rows: 1fr 1fr;
        }

        #main-content #trending #trending-box .profile-preview .user-picture{
            grid-row: 1/3;
        }



        