* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: roboto, sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

div {
    border: grey solid 2px;
}

#header {
    
}

#sidebar {
    grid-row: 1/3;
}

#main-content {
    
}